@model IEnumerable<GTERP.Models.HR_Emp_Increment>

@{
    var increments = ViewBag.IncrementDetails;
}



<p style="height: 6px;"></p>
<table class="incrementTable table table-hover table-responsive" align="center" style="font-size: 14px;position: relative; bottom: 0; right: -8px; overflow-y: scroll">

    <thead style="font-weight: bold; background: rgba(0, 0, 0, 0.10); color: black;">
        <tr style="font-weight: bold; background: rgba(0, 0, 0, 0.10); color: black;">
            <th style="background: rgba(0, 0, 0, 0.02); width: 1%; display: none;">Increment Id</th>
            <th style="background: rgba(0, 0, 0, 0.02); width: 45%;">Increment Type</th>
            <th style="background: rgba(0, 0, 0, 0.02); width: 30%;">Date</th>
            <th style="background: rgba(0, 0, 0, 0.02); width: 24%;">Amount</th>
        </tr>
    </thead>


    <tbody>

        @foreach (var anIncrement in Model)
        {
            <tr>
                <td style="display: none;">@anIncrement.IncId</td>
                <td>@anIncrement.HR_IncType.IncType</td>
                <td>@String.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Convert.ToDateTime(anIncrement.DtInput).ToShortDateString()))</td>
                <td style="text-align: center;">@anIncrement.Amount</td>
            </tr>
        }
    </tbody>
    }
</table>



