@model GTERP.Models.Hr_BOFuploader
@{
    ViewData["Title"] = "BOFuploader";
}


<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />


<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            BOF Entry
        </div>
        <div class="card-body">
            <form asp-action="BOFuploader" method="post">
                @if (Model != null && Model.id != 0)
                {
                    <input type="hidden" asp-for="id" />
                }
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Create Date
                                </span>
                            </div>
                            <input asp-for="DateAdded" class="form-control" type="date" id="CreateDate" />
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Vendor
                                    </span>
                                </div>
                                <select asp-for="EmpCode" class="form-control" asp-items="@(ViewData["Employee"] as List<SelectListItem>)">
                                    <option value="" selected>--Please Select--</option>
                                </select>


                               @*  <select asp-for="EmpCode" class="form-control" asp-items="@(ViewData["Employee"] as List<SelectListItem>)">
                                    <option value="" selected>--Please Select--</option>
                                </select> *@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Job Nature
                                </span>
                            </div>
                            <select asp-for="DesigId" class="form-control" asp-items="@(ViewData["DesigId"] as List<SelectListItem>)">
                                <option value="" selected>--Please Select--</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Department
                                </span>
                            </div>
                            <select asp-for="DeptId" class="form-control" asp-items="@(ViewData["DeptId"] as List<SelectListItem>)">
                                <option value="" selected>--Please Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    FG Dispatch Primary
                                </span>
                            </div>
                            <input asp-for="FgDispatch1st" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    FG Dispatch Customer
                                </span>
                            </div>
                            <input asp-for="FgDispatch2nd" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    FG Dispatch Glycerin
                                </span>
                            </div>
                            <input asp-for="Glycerin" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="row">
                   

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Unloading
                                </span>
                            </div>
                            <input asp-for="Unloading" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Total Earned
                                </span>
                            </div>
                            <input asp-for="TotalEarnde" class="form-control" />
                        </div>
                    </div>
                </div>

                <!-- Add other fields as needed -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
@*             <a asp-action="BOFuploaderList" asp-controller="HR" class="btn btn-success">Back to List</a>
 *@
        </div>
    </div>

</div>
