@model GTERP.Models.PRcostEntry

@* 
@{
    ViewData["Title"] = "Create Cost Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@
<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />
<div class="container mt-3">
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="errorMessage" class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $("#errorMessage").fadeOut("slow", function () {
                        $(this).remove();
                    });
                }, 3000); // 3000 milliseconds (3 seconds)
            });
        </script>
    }
</div>


<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            Cost Entry
        </div>
        <div class="card-body">
            <form asp-action="CreateCostEntry" method="post">
                @if (Model != null && Model.id != 0)
                {
                    <input type="hidden" asp-for="id" />
                }
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Vendor
                                    </span>
                                </div>
                                <select id="UnitId" asp-for="UnitId" class="form-control" asp-items="@(ViewData["Employee"] as List<SelectListItem>)">
                                    <option value="" selected>--Please Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Category
                                    </span>
                                </div>
                                <select asp-for="CategoryId" class="form-control" asp-items="@(ViewData["CategoryId"] as List<SelectListItem>)">
                                    <option value="" selected>--Please Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label asp-for="SafetyShoe" class="control-label"></label>
                                </span>
                            </div>
                            <input asp-for="SafetyShoe" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label asp-for="Uniform" class="control-label"></label>
                                </span>
                            </div>
                            <input asp-for="Uniform" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label asp-for="ServiceComission" class="control-label"></label>
                                </span>
                            </div>
                            <input asp-for="ServiceComission" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <label asp-for="MedicalCost" class="control-label"></label>
                                </span>
                            </div>
                            <input asp-for="MedicalCost" class="form-control" />
                        </div>
                    </div>
                </div>


                <!-- Add other fields as needed -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>                
                </div>
            </form>
          @*   <a asp-action="CostEntryList" asp-controller="HR" class="btn btn-success">Back to List</a> *@

        </div>
    </div>
   
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        if (@(Model?.id ?? 0) != 0) {
            $("#UnitId").prop("disabled", true);
            $("#CategoryId").prop("disabled", true);
        }
    });
</script>

