@model GTERP.Models.DailyProductionRules
@{
    ViewData["Title"] = "DailyProductionRules";
}



<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            Daily Production Rules
        </div>
        <div class="card-body">
            <form asp-action="DailyProductionRules" method="post">
                @if (Model != null && Model.Id != 0)
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Create Date
                                </span>
                            </div>
                            <input asp-for="CreateDate" class="form-control" type="date" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    FgDisPatch Primary
                                </span>
                            </div>
                            <input asp-for="FgDisPatch1st" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    FgDispatch Customer
                                </span>
                            </div>
                            <input asp-for="FgDispatch2nd" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Boo2
                                </span>
                            </div>
                            <input asp-for="Boo2" class="form-control" />
                        </div>
                    </div>
                    </div>

                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Unloading
                                </span>
                            </div>
                            <input asp-for="unloading" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    OtherCost
                                </span>
                            </div>
                            <input asp-for="OtherCost" class="form-control" />
                        </div>
                    </div>
                </div>


                <!-- Add other fields as needed -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
@*             <a asp-action="DailyProductionRulesList" asp-controller="HR" class="btn btn-success">Back to List</a>
 *@
        </div>
    </div>

</div>
