<style>
ul{
    list-style: none;
    float: right;
}
.nav-ul li{
    display: inline-block;
}
.nav-ul li input{
    border-radius:5px;
}

.sidebar {
    width: 200px;
    height: 653px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: #f2f2f2;
    padding: 10px;
    float:left;
}
.right-border{
        border-right:3px solid;
}

.card {
    background-color:#F2F2F2;
    margin-top:20px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border:1px solid blue;
    border-radius: 5px;
}

.card1 {
    background-color: #F2F2F2;
    margin-top: 20px;
    height: 50px;
    border: 1px solid green;
    border-radius: 5px;
}
.nav-emp{
    margin-top:10px;
}
.alignt-center{
    text-align:center;
}

</style>
<div class="card1">
<nav class="nav-emp">
    <ul class="nav-ul">
        <li>
            Date Range:
            <input type="date" />
            <input type="date" />
        </li>
        <li>

            <div class="input-group">

                <div class="form-outline">
                    Employee Id:
                    <input type="search" id="form1" />
                </div>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </li>
    </ul>
</nav>
</div>
<div class="container-fluid" style="margin-top:20px">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <ul>
                    <li><i class="fa-duotone fa-bars"></i>Menu</li>
                    <li>Menu</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
            <div class="col-md-4 right-border">
                <img src="https://www.w3schools.com/howto/img_avatar.png" style="height: 100px; width:auto" alt="Image" />
                <ul>
                    <li><strong>Name: Dewan M A SAMAD</strong></li>
                    <li>Assistant Manager Grad-II</li>
                    <li>Section: Admin, HR & Compliance</li>
                    <li>Joining Date: 22 May 2016</li>
                </ul>
            </div>
            <div class="col-md-4 right-border">
                <ul style="float:left">
                    <li>Mobile No:</li>
                    <li>Email:</li>
                    <li>Sub-Section: </li>
                    <li>Confirmation Date:</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul style="float:left">
                    <li>Father's Name:</li>
                    <li>Mother's Name:</li>
                    <li>Date of Birth: </li>
                    <li>Emergency Contact No:</li>
                </ul>
            </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Attendance details</a></b>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Loan Summary</a></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Leave Details</a></b>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Accident Summary</a></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Payment History</a></b>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Gatepass Summary</a></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Nominee Info</a></b>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Performance History</a></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Show Cause</a></b>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Salary Structure</a></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card text-center">
                        <div class="container">
                            <b><a href="#">Conv Summary</a></b>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="container" >
                            <b><a href="#">Tax Summary</a></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>