@model GTERP.Models.ProductionCostEntry
@{
    ViewData["Title"] = "ProductionConstEntry";
}


<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />


<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            Production Cost Entry
        </div>
        <div class="card-body">
            <form asp-action="ProductionConstEntry" method="post">
                @if (Model != null && Model.Id != 0)
                {
                    <input type="hidden" asp-for="Id" />
                }




                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Create Date
                                </span>
                            </div>
                            <input asp-for="CreateDate" class="form-control" type="date" id="CreateDate" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Boundle
                                </span>
                            </div>
                            <input asp-for="Boundle" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Box Packet Reel
                                </span>
                            </div>
                            <input asp-for="BoxPacketReel" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Bags
                                </span>
                            </div>
                            <input asp-for="Bags" class="form-control" />
                        </div>
                    </div>

                   
                </div>
                <div class="row">
                <div class="col-md-6 col-12 mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Drum
                            </span>
                        </div>
                        <input asp-for="Drum" class="form-control" />
                    </div>
                </div>
                </div>

                <!-- Add other fields as needed -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
@*             <a asp-action="ProductionConstEntryList" asp-controller="HR" class="btn btn-success">Back to List</a>
 *@
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        if (@(Model?.Id ?? 0) != 0) {
            $("#CreateDate").prop("disabled", true);
            // $("#CategoryId").prop("disabled", true);
        }
    });
</script>