@model GTERP.Models.DistrictWiseBooking

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="max-width:1000px">
    <div class="row card p-5">
        <div class="col-md-12">
            <form asp-action="Edit">
                <h2 class="text-center">District Wise Booking @ViewBag.Title</h2>
                <br />
                <div class="form-row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DistWiseBookingId" />
                    <input type="hidden" asp-for="ComId" />
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="DateAdded" />
                    <input type="hidden" asp-for="DateUpdated" />
                    <input type="hidden" asp-for="UpdateByUserId" />


                    @*<input type="hidden" asp-for="DistId" />
        <input type="hidden" asp-for="FiscalYearId" />
        <input type="hidden" asp-for="FiscalMonthId" />*@

                    <div class="form-group col-md-6">
                        <label class="control-label">Allotment Type</label>
                        <select id="AllotmentType" class="form-control" asp-items="ViewBag.AllotmentType">
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="FiscalYearId" class="control-label"></label>
                        <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                        <span asp-validation-for="FiscalYearId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="FiscalMonthId" class="control-label"></label>
                        <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                        <span asp-validation-for="FiscalMonthId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="DistId" class="control-label"></label>
                        <select asp-for="DistId" class="form-control" asp-items="ViewBag.DistId"></select>
                        <span asp-validation-for="DistId" class="text-danger"></span>
                    </div>
                    @*<div class="form-group col-md-4">
            <label asp-for="DtInput" class="control-label"></label>
            <input asp-for="DtInput" class="form-control" />
            <span asp-validation-for="DtInput" class="text-danger"></span>
        </div>*@
                    <div class="form-group col-md-6">
                        <label asp-for="Qty" class="control-label"></label>
                        <input asp-for="Qty" class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group p-1 text-center">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-info">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
