@{
    ViewBag.Title = "Data Import";
}
<form id="myform" method="post" enctype="multipart/form-data" asp-action="UploadFiles" asp-controller="RawDataImport">
    @*< div class="input-group input-group-sm mb-1">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-sm rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                <input name = "uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" id="FileUpload1">
            </span>
            <span class="form-control form-control-sm"></span>
            <input class="rounded-0 btn btn-primary btn-sm" type="submit" id="btnUpload" value="Upload Files" />
        </div>*@
    <div class="card">
        <div style="margin-bottom: 20px">
            <div class="form-header btn-light d-flex">
                <i class="far fa-file-alt" style="font-size:30px"></i>&nbsp;
                <h4>Data Import</h4>
            </div>
        </div>

        <h4 id="styletext" style="text-align:center">Data Import From Txt File</h4>

        <div class="card-body">
            <div class="input-group input-group w-50" style="margin:10px auto;">
                <span class="input-group-btn input-group-prepend">
                    <span class="btn btn-primary rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" id="FileUpload1">
                </span>
                <span class="form-control border border-primary" style="background: #f2f2f2e6;"></span>
                <input class="rounded-0 btn btn-primary btn-sm" type="submit" id="btnUpload" value="Upload Files" />
            </div>
        </div>
        <div class="text-secondary" style="margin:20px auto;">
            <span style="font-weight:600;">Noted:</span> Data Format: [DeviceNo:UserId:Date:Time]-201:22:2023-03-23:03:23:23
        </div>
    </div>

</form>

@* <form id="myform" method="post" enctype="multipart/form-data" asp-action="UploadFiles" asp-controller="RawDataImport">
 

    <div class="card" id="myDiv">
        <div style="margin-bottom: 20px ">
            <div class="form-header btn-light d-flex">
                <i class="far fa-file-alt" style="font-size:30px"></i>&nbsp;
                <h4>Data Import</h4>
            </div>
        </div>

        <h4 id="styletext" style="text-align:center">Data Import From ZK Access File</h4>

        <div class="card-body">
            <div class="input-group input-group w-50" style="margin:10px auto;">
                <span class="input-group-btn input-group-prepend">
                    <span class="btn btn-primary rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" id="FileUpload1">
                </span>
                <span class="form-control border border-primary" style="background: #f2f2f2e6;"></span>
                <input class="rounded-0 btn btn-primary btn-sm" type="submit" id="btnUpload1" value="Upload Files" />
            </div>
        </div>
        <div class="text-secondary" style="margin:20px auto;">
        </div>
    </div>

</form> *@

<script>
    document.getElementById("myDiv").style.display = "block";    //------to make visible comment out it and comment the next line
    //document.getElementById("myDiv").style.display = "none";   //-----to make invisible comment out it and comment the previous line
</script>