@model GTERP.Models.FA_Master


    <div>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h6>Asset Information</h6>
                </div>
                <div class="col-md-6" id="btnllll">
                    <a class="btn btn-info btn-block rounded-0" asp-action="FAMasterList">Asset Group List</a>
                </div>
                <input type="hidden" asp-for="FA_MasterId" />
                <input type="hidden" id="mode" value="@ViewBag.Title" />
            </div>
      
        </div>
        <div class="card-body p-2">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="ProductId" class="control-label"></label>
                            </span>
                        </div>
                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AssetCode" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="AssetCode" class="form-control" />
                        <span asp-validation-for="AssetCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="DMId" class="control-label"></label>
                            </span>
                        </div>
                        <select asp-for="DMId" class="form-control" asp-items="ViewBag.DMId"></select>
                        <span asp-validation-for="DMId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Percentage" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="Percentage" class="form-control" />
                        <span asp-validation-for="Percentage" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AccId_DepreciationExpense" class="control-label"></label>
                            </span>
                        </div>
                        <select asp-for="AccId_DepreciationExpense" class="form-control" asp-items="ViewBag.DepreciationExpenseAccountId"></select>
                        <span asp-validation-for="AccId_DepreciationExpense" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AccId_AccumulatedDepreciation" class="control-label"></label>
                            </span>
                        </div>
                        <select asp-for="AccId_AccumulatedDepreciation" class="form-control" asp-items="ViewBag.AccumulateDepreciationAccountId"></select>
                        <span asp-validation-for="AccId_AccumulatedDepreciation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="FOD" class="control-label"></label>
                            </span>
                        </div>
                        <select asp-for="FOD" class="form-control" asp-items="ViewBag.FOD"></select>
                        <span asp-validation-for="FOD" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-md-2 col-12">
                    <div class="m-1 spn" id="spn1">
                        <button id="btnaddmasterrow" class="btn btn-info btn-block rounded-0">Add</button>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

<div>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h6>Asset Details Information</h6>
                </div>               
            </div>      
        </div>
        <div class="card-body p-2">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="IdentificationCode" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="IdentificationCode" class="form-control" />
                        <span asp-validation-for="IdentificationCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Location" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="CostCenter" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="CostCenter" class="form-control" />
                        <span asp-validation-for="CostCenter" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Mark" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="Mark" class="form-control" />
                        <span asp-validation-for="Mark" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="ForeignExchangeCost" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="ForeignExchangeCost" class="form-control" />
                        <span asp-validation-for="ForeignExchangeCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="CountyOfOrigin" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="CountyOfOrigin" class="form-control" />
                        <span asp-validation-for="CountyOfOrigin" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Maker" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="Maker" class="form-control" />
                        <span asp-validation-for="Maker" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="ItemNo" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="ItemNo" class="form-control" />
                        <span asp-validation-for="ItemNo" class="text-danger"></span>
                    </div>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="SupplierName" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="SupplierName" class="form-control" />
                        <span asp-validation-for="SupplierName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="PONoAndDate" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="PONoAndDate" class="form-control" />
                        <span asp-validation-for="PONoAndDate" class="text-danger"></span>
                    </div>
                </div>               
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="DeliveryDate" class="control-label"></label>
                            </span>
                        </div>
                        <input type="date" asp-for="DeliveryDate" class="form-control" />
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="InstallationDate" class="control-label"></label>
                            </span>
                        </div>
                        <input type="date" asp-for="InstallationDate" class="form-control" />
                        <span asp-validation-for="InstallationDate" class="text-danger"></span>
                    </div>
                </div>               
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="ErectionContractor" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="ErectionContractor" class="form-control" />
                        <span asp-validation-for="ErectionContractor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Folio" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="Folio" class="form-control" />
                        <span asp-validation-for="Folio" class="text-danger"></span>
                    </div>
                </div>               
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="ControlCodeNo" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="ControlCodeNo" class="form-control" />
                        <span asp-validation-for="ControlCodeNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="SubCodeNo" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="SubCodeNo" class="form-control" />
                        <span asp-validation-for="SubCodeNo" class="text-danger"></span>
                    </div>
                </div>               
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="DepreciationRate" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="DepreciationRate" class="form-control" />
                        <span asp-validation-for="DepreciationRate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AnticipatedScrapValue" class="control-label"></label>
                            </span>
                        </div>
                        <input asp-for="AnticipatedScrapValue" class="form-control" />
                        <span asp-validation-for="AnticipatedScrapValue" class="text-danger"></span>
                    </div>
                </div>               
            </div>
             <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="DisposalDate" class="control-label"></label>
                            </span>
                        </div>
                        <input type="date" asp-for="DisposalDate" class="form-control" />
                        <span asp-validation-for="DisposalDate" class="text-danger"></span>
                    </div>
                </div>
                        
            </div>

        </div>
    </div>



        <!--<div id="divassetmasterlist" style="display:none">
            <h4>Asset Items Details</h4>

            <table id="tblmaster" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            FA_MasterId
                        </th>
                        <th>
                            productId
                        </th>
                        <th>
                            AssetItem
                        </th>
                        <th>
                            Asset Code
                        </th>
                        <th>
                            DMId
                        </th>
                        <th>
                            Percentage
                        </th>-->
                        @*<th>
                                Salvage Per.
                            </th>*@
                        <!--<th>
                            DepreciationExpenseAccount
                        </th>
                        <th>
                            DepreciationExpenseAccount
                        </th>
                        <th>
                            AccumulateDepreciationAccount
                        </th>
                        <th>
                            AccumulateDepreciationAccount
                        </th>
                        <th>
                            FOD
                        </th>

                        <th>IsDetete</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>-->
 

