@model GTERP.Models.FA_Details

<div>
    <div id="divtbldetails" style="display:none">
        <div class="card">
            <div class="card-header">
                <h5 id="title">Assignment List</h5>
            </div>
            <div class="card-body p-3">
                <div class="table-responsive">
                    <table id="tbldetails" class="table tblSalesList table-striped table-bordered table-sm text-nowrap text-center" cellspacing="0" width="100%">
                        <thead class="text-nowrap">
                            <tr>
                                <th>
                                    FA_DetailsId
                                </th>
                                <th>
                                    FA_MasterId
                                </th>
                                <th>
                                    AssetItem
                                </th>
                                <th>
                                    IssueDate
                                </th>
                                
                                <th>
                                    MRR No
                                </th>
                                <th>
                                    MRR Date
                                </th>
                                <th>
                                    Voucher No
                                </th>
                                <th>
                                    Voucher Date
                                </th>
                                <th>
                                    Rate
                                </th>


                                <th>
                                    AssignToId
                                </th>
                                <th>
                                    AssignTo
                                </th>
                                <th>
                                    Life Span
                                </th>
                                <th>
                                    RemainingYear
                                </th>
                                <th>
                                    RemainingMonth
                                </th>
                                <th>
                                    Salvage Value
                                </th>
                                <th>
                                    PurchaseValue
                                </th>
                                <th>
                                    PurchaseDate
                                </th>
                                <th>
                                    Assign To Dept Id
                                </th>
                                <th>
                                    Assign To Dept
                                </th>
                                <th>
                                    WrittenDownValue
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    RemainingYear
                                </th>


                                <th>
                                    Calculate Depreiation
                                </th>


                                <th>
                                    Action
                                </th>
                                <th>
                                    More..
                                </th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <hr />
    </div>

    @*<div id="divDepreciation_Schedule_List" style="display:none">
                <div class="card p-2" style="overflow:scroll; height:400px">
                    <partial name="SeeDepreciation.cshtml" />

                </div>
        </div>*@

    <div class="" id="divassignasset">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h4 id="title">Asset Assignment</h4>
                </div>
                <input type="hidden" asp-for="FA_DetailsId" />
                <div class="col-md-4 text-right">
                    <a id="btnassetlist" class="btn btn-info btn-block rounded-0" asp-action="FADetailList">
                        Asset Sub Items List
                        <span>
                            <img src="~/icons8-list-view-30.png" />
                        </span>
                    </a>
                    <button type="button" style="display:none" id="btnSeeDepScheduleEdit" name="Depreciation_Schedule_List" class=" btn btn-sm btn-outline-info btn-block">
                        See Dep Schedule
                        <span>
                            <img src="~/icons8-list-view-30.png" />
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body p-3 pb-4" id="divdet">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label for="#FA_MasterIdp">FA_Master</label>
                            </span>
                        </div>
                        <select asp-for="FA_MasterId" class="form-control" asp-items="ViewBag.FA"></select>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AssetItem"></label>
                            </span>
                        </div>
                        <input asp-for="AssetItem" class="form-control" />
                        <span asp-validation-for="AssetItem" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="IssueDate"></label>
                            </span>
                        </div>
                        <input asp-for="IssueDate" class="form-control" type="date" />
                        <span asp-validation-for="IssueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="MRRNo"></label>
                            </span>
                        </div>
                        <input asp-for="MRRNo" class="form-control" />
                        <span asp-validation-for="MRRNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="MRRDate"></label>
                            </span>
                        </div>
                        <input asp-for="MRRDate" class="form-control" type="date" />
                        <span asp-validation-for="MRRDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="VoucherNo"></label>
                            </span>
                        </div>
                        <input asp-for="VoucherNo" class="form-control" />
                        <span asp-validation-for="VoucherNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="VoucherDate"></label>
                            </span>
                        </div>
                        <input asp-for="VoucherDate" class="form-control" type="date" />
                        <span asp-validation-for="VoucherDate" class="text-danger"></span>
                    </div>
                </div>
                 <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Rate"></label>
                            </span>
                        </div>
                        <input asp-for="Rate" class="form-control"/>
                        <span asp-validation-for="Rate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="PurchaseDate"></label>
                            </span>
                        </div>
                        <input asp-for="PurchaseDate" class="form-control" type="date" />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AssignToSection"></label>
                            </span>
                        </div>
                        <select asp-for="AssignToSection" class="form-control" asp-items="ViewBag.Section">
                            <option selected value="no">--Select Section--</option>
                        </select>
                        <span asp-validation-for="AssignToSection" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="AssignToDept"></label>
                            </span>
                        </div>
                        <select asp-for="AssignToDept" class="form-control" asp-items="ViewBag.Departments">
                            <option selected value="no">--Select Dept--</option>
                        </select>
                        <span asp-validation-for="AssignToDept" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="WrittenDownValue"></label>
                            </span>
                        </div>
                        <input asp-for="WrittenDownValue" class="form-control" type="text" />
                        <span asp-validation-for="WrittenDownValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="PurchaseValue"></label>
                            </span>
                        </div>
                        <input asp-for="PurchaseValue" class="form-control" type="text" />
                        <span asp-validation-for="PurchaseValue" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="EVAULife"></label>
                            </span>
                        </div>
                        <input asp-for="EVAULife" class="form-control" type="text" />
                        <span asp-validation-for="EVAULife" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="RemainingYear"></label>
                            </span>
                        </div>
                        <input asp-for="RemainingYear" class="form-control" type="text" />
                        <span asp-validation-for="RemainingYear" class="text-danger"></span>
                    </div>
                </div>
            

                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="RemainingMonth"></label>
                            </span>
                        </div>
                        <input asp-for="RemainingMonth" class="form-control" type="text" />
                        <span asp-validation-for="RemainingMonth" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="UsefullLife"></label>
                            </span>
                        </div>
                        <input asp-for="UsefullLife" class="form-control" type="text" />
                        <span asp-validation-for="UsefullLife" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Qty"></label>
                            </span>
                        </div>
                        <input asp-for="Qty" class="form-control" type="text" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12 col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0">
                                <label asp-for="Description"></label>
                            </span>
                        </div>
                        <textarea asp-for="Description" class="form-control" type="text"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <input asp-for="CalculateDepreciation" />
                    <label asp-for="CalculateDepreciation"></label>
                </div>


                <div class="col-md-6 col-12">
                    <div class="row spn" id="spn2">
                        <div class="col">
                            <button id="btnaddrow" class="btn btn-sm btn-info btn-block rounded-0">Add</button>
                        </div>

                    </div>

                    @*<div class="col-md-4 col-12">
                </div>*@
                </div>
            </div>
        </div>

    </div>

</div>

