@model GTERP.Models.FA_Sell

@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sales</h1>

<h4>FA_Sell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sales">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FA_DetailsId" class="control-label"></label>
                <select asp-for="FA_DetailsId" class ="form-control" asp-items="ViewBag.FA_DetailsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FA_MasterId" class="control-label"></label>
                <select asp-for="FA_MasterId" class ="form-control" asp-items="ViewBag.FA_MasterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SellsPrice" class="control-label"></label>
                <input asp-for="SellsPrice" class="form-control" />
                <span asp-validation-for="SellsPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

