@model GTERP.Models.Booking

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Booking", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    <div class="container-fluid p-4" style="max-width:800px">
        <div class="card p-5">
            <div class="row">
                <form asp-action="Delete">
                    <h2 class="text-center">Booking / Allotment Delete</h2>
                    <br />
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BookingId" />
                        <input type="hidden" asp-for="ComId" />
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="DateAdded" />
                        <input type="hidden" asp-for="DateUpdated" />


                        <div class="form-group col-md-6">
                            @*<label asp-for="FiscalYearId" class="control-label"></label>*@
                            <label class="control-label">Year</label>
                            <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                            <span asp-validation-for="FiscalYearId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            @*<label asp-for="FiscalMonthId" class="control-label"></label>*@
                            <label class="control-label">Month</label>
                            <select asp-for="FiscalMonthId" class="form-control" asp-items="ViewBag.FiscalMonthId"></select>
                            <span asp-validation-for="FiscalMonthId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            @*<label asp-for="CustomerId" class="control-label"></label>*@
                            <label class="control-label">Customer</label>
                            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            @*<label asp-for="PStationId" class="control-label"></label>*@
                            <label class="control-label">Police Station</label>
                            <select asp-for="PStationId" class="form-control" asp-items="ViewBag.PStationId"></select>
                            <span asp-validation-for="PStationId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            @*<label asp-for="DistId" class="control-label"></label>*@
                            <label class="control-label">District</label>
                            <select asp-for="DistId" class="form-control" asp-items="ViewBag.DistId"></select>
                            <span asp-validation-for="DistId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            @*<label asp-for="DistId" class="control-label"></label>*@
                            <label class="control-label">Allotment Type</label>
                            <select id="AllotmentType" class="form-control" asp-items="ViewBag.AllotmentType">
                            </select>
                            <span asp-validation-for="DistId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            @*<label asp-for="AllotmentQty" class="control-label"></label>*@
                            <label class="control-label">Qty</label>
                            <input asp-for="AllotmentQty" class="form-control" />
                            <span asp-validation-for="AllotmentQty" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-info">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
@section Scripts{
    <script>
            //$('#FiscalYearId').attr('disabled', false);


            $("#FiscalYearId").select2();
            $("#FiscalMonthId").select2();
            $("#CustomerId").select2();
            $("#PStationId").select2();
            $("#DistId").select2();



            $('#FiscalYearId').attr('disabled', true);
            $('#FiscalMonthId').attr('disabled', true);
            $('#CustomerId').attr('disabled', true);
            $('#PStationId').attr('disabled', true);
            $('#DistId').attr('disabled', true);
            //$('#PoliceStation').attr('disabled', true);


            $('#myform').submit(function () {

                if (!$("#myform").valid()) {
                    alert('Please Fill Up All Necessary Information Correctly.');
                    return false;
                }

                $('select').removeAttr('disabled');
                //alert('ok');
            });


    </script>

}