<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="5.0.0"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" executionTimeout="600"/>
    <!-- in Kb  -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4147483648" />
        <!-- in byte (50 Mb) -->
      </requestFiltering>
    </security>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
				  maxBufferPoolSize="2147483647"
				  maxReceivedMessageSize="2147483647"
				  maxBufferSize="2147483647">

          <!-- binding config: security, httpTransport and more  -->
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>