@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*<script src="~/Content/img/GSGProfile/https://code.jquery.com/jquery-3.3.1.js"></script>*@




@*<script src="~/Content/img/GSGProfile/~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />*@
@*<link href="~/Content/css/select2.min.css" rel="stylesheet" />*@
@*<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


<style>
    body {
        font-family: 'Raleway', sans-serif;
    }
    /*.card:hover {
        background: rgba(0,0,0,0.15);
        box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
        -webkit-box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
        -moz-box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
        color: #ffffff !important;
    }*/
    /*.image-holder {
        position: relative;
        max-height: 500px;
        max-width: 400px;
    }

        .image-holder img {
            display: block;
            opacity: 0.8;
            max-width: 100%;
            max-height: inherit;
        }

    .tint {
        position: absolute;
        max-height: 500px;
        max-width: 400px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        background: #0094ff;
        transition: opacity 1s;
    }

    .image-holder:hover .tint {
        opacity: .9;
    }*/

    /*.navbar {
        display:none;
    }*/
</style>




<div class="container">
    <span style="color:red">@ViewBag.error</span>

    <div class="row ">
        <div class="col-md-12 col-12">
            <div class="row">

                <div class="card col-md-4 col-12 mx-auto">
                    <img src="~/Content/img/gtrLogo1.jpg" class="img-fluid img-thumbnail border-0" style="height:200px" />
                </div>
                @*<div>
                    (GTR) is the pioneer software development and automation technology company that specialize in providing services to achieve business’s essential technologies, in business development consultancy, industrial system, and IT solution. It was founded in year 2005. It develops compliance software systems for growing markets. For over the years, It has delivered a broad array of CCTV, Access Control, Attendance & Payroll system, Apparels CAD/CAM solutions for Corporate Clients.

                </div>*@
                
            </div>

            <h2 class="text-info text-center m-3 " style="font-family: 'Raleway', sans-serif;">
                Genuine Technology & Research Ltd.
            </h2>

        </div>

        <!--<div class="col-md-12 col-12">
        <div class="row">
            <div class="col-md-12 col-12">

                <div><img src="~/Content/img/gtrLogo.png" class="img-fluid" /></div>-->
        @*Genuine Technology & Research Ltd.*@
        <!--(GTR) is the pioneer software development and automation technology company that specialize in providing services to achieve business’s essential technologies, in business development consultancy, industrial system, and IT solution. It was founded in year 2005. It develops compliance software systems for growing markets. For over the years, It has delivered a broad array of CCTV, Access Control, Attendance & Payroll system, Apparels CAD/CAM solutions for Corporate Clients.
            </div>
        </div>
    </div>-->


        @*<div class="col-md-4 col-12 my-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-weight-bold text-success">Company Profile</h6>

                </div>
                <div class="card-body px-3 py-2 mb-2">
                    <p><strong>Year of Establishment: </strong> 2005 </p>
                    <p><strong>Floor Space: </strong>  SFT</p>
                    <p><strong>Number of employees: 80 </strong> </p>
                </div>
            </div>

        </div>*@
        <div class="col-md-12 col-12 my-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-weight-bold text-success text-center">Company Name & Address</h6>
                </div>
                <div class="card-body mx-auto">
                    <div><strong>Genuine Technology & Research Ltd.</strong></div>
                    <div><strong>Corporate Office:</strong> HM Plaza, 9th Floor, Suite # 1, Plot # 34, Road # 2, Sector # 03, Uttara, </div>
                    <div><strong>Phone: </strong>+88-031-622802, +88-02-8956649  </div>
                    <div><strong>Web: </strong> <a target="_blank" href="http://www.gtrbd.com">www.gtrbd.com</a>  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 my-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-weight-bold text-success">Success Manager Contact Person:  </h6>
                </div>
                <div class="card-body">
                    
                    <div>
                        <strong>
                            Mohammad Habibur Rahman Nahid
                            , <br /> Md. Fazleh Alahi

                        </strong>
                    </div>
                    <div><strong>Phone: </strong>01613019352,01620012323 </div>
                    <div><strong>Email: </strong> <a target="_blank" href="mailto:bd22@gtrbd.com">bd22@gtrbd.com</a>,</strong><a target="_blank" href="mailto:bd01@gtrbd.com">bd01@gtrbd.com</a></div>
                    

                </div>
            </div>



        </div>

        <div class="col-md-4 col-12 my-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-weight-bold text-success">Software Team Contract Person:</h6>
                </div>
                <div class="card-body">
                    <div><strong>MD.Raihan Bin Halim, MD. Ahsan Ullah,  <br />Mis.Nurjahan Begum</strong> </div>
                    <div><strong>Phone: </strong>01709383002,01613019302</div>
                    <div><strong>Support: </strong> <a target="_blank" href="https://gtrbd.net/support/">www.gtrbd.net/support</a></div>
                </div>
            </div>


        </div>

        <div class="col-md-4 col-12 my-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="font-weight-bold text-success">Accounts Contract Person :</h6>
                </div>
                <div class="card-body">
                    <div><strong>Md. Humayon, Md. Saiful Islam</strong></div>
                    <div><strong>Phone: </strong>+8801613019406, +8801613019351</div>
                    <div><strong>Email: </strong><a target="_blank" href="mailto:accountsdhk@gtrbd.com">accountsdhk@gtrbd.com, accountsctg@gtrbd.com</a></div>
            </div>
            </div>


        </div>


    </div>
    </div>



<script>


</script>

