@*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@




@*<script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />*@
@*<link href="~/Content/css/select2.min.css" rel="stylesheet" />*@
@*<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />*@




<style>
    /*.card:hover {
        background: rgba(0,0,0,0.15);
        box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
        -webkit-box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
        -moz-box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
        color: #ffffff !important;
    }*/
    .image-holder {
        position: relative;
        max-height: 500px;
        max-width: 400px;
    }

        .image-holder img {
            display: block;
            opacity: 0.8;
            max-width: 100%;
            max-height: inherit;
        }

    .tint {
        position: absolute;
        max-height: 500px;
        max-width: 400px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        background: #0094ff;
        transition: opacity 1s;
    }

    .image-holder:hover .tint {
        opacity: .9;
    }

    /*.navbar {
        display:none;
    }*/
</style>

@{

    var x = "a";
}

<div class="container pt-3">
    <div class="row">
        <h1 class="text-center text-info" style="font-family: 'Raleway', sans-serif;">
            <img src="~/Content/img/daplogo.png" class="rounded img-fluid mb-2" alt="DAP Fertilizer Co. Ltd.">
            G.S. GARMENTS LIMITED
        </h1>
    </div>
    <div class="card p-100" style="padding: 40px;">
        @*<h2>
            Welcome To DAP Fertilizer Co. Ltd.
             <span class="float-right">   <a class="btn btn-primary" href="@Url.Action("LoginEnglish","Account")" role="button">Login</a> </span>
        </h2>*@
        <p class="small">DAPFCL</p>
        @*<p class="text-justify" style="font-size:16px;">In 2004, DAP Fertilizer Co. Ltd. went into operations with state of art sewing and wet processing unit based in Chittagong. Since then DAP Fertilizer Co. Ltd. becomes one of the best established Garments Exporters in Bangladesh. The sincere effort has been giving by DAP Fertilizer Co. Ltd. employees have spurred the company to success and reward with numerous awards and trophies. DAP Fertilizer Co. Ltd. has now more than 20,000 employees and annual turnover of US$ 225 million. It has sewing capacity of 13 million dozens per month and dyeing unit which stated in 2010 has the dyeing capacity of 30 tons per day which will be increasing over the time. DAP Fertilizer Co. Ltd. installed state of art machineries for sewing, pattern and technical unit along with new power generators to achieve un-interrupted power supply. All these change is made keeping in mind that compliance and safety at its highest priority. DAP Fertilizer Co. Ltd. have all the core facilities integrated to produce quality merchandise and timely delivery. After attaining initial success it is now proceeding towards perfection. All these are made available to offer better service to our valued customers. Our target is to attain better quality within the stipulated time duration.  </p>*@
        @*<p class="text-justify" style="font-size:16px;">দেশের কৃষি খাতে সুষম ও উপযুক্ত সার ব্যবহারের মাধ্যমে যৌগিক সারের (নাইট্রোজেন ও ফসফরাস সম্বলিত) চাহিদা মেটানোর লক্ষ্যে বর্তমান সরকারের মাননীয় প্রধানমন্ত্রী শেখ হাসিনা ২০০১ সালের ১ মে শিল্প মন্ত্রণালয়ের অধীনে বিসিআইসি’র নিয়ন্ত্রনাধীন প্রতিটি ৮০০ মে.টন উৎপাদন ক্ষমতা সম্পন্ন দুটি ডিএপি সার কারখানা চট্টগ্রামস্থ আনোয়ারা উপজেলার রাঙ্গাদিয়ায় শুভ উদ্বোধন করেন। ২০০৬ সাল হতে কারখানার বাণিজ্যিক উৎপাদন শুরু হয়।  </p>*@
        @*<p class="text-justify" style="font-size:16px;">Diammonium phosphate (DAP) is the world’s most widely used phosphorus fertilizer. It’s made from two common constituents in the fertilizer industry, and its relatively high nutrient content and excellent physical properties make it a popular choice in farming and other industries.  </p>

        <p class="text-justify" style="font-size:16px;">Ammonium phosphate fertilizers first became available in the 1960s, and DAP rapidly became the most popular in this class of products. It’s formulated in a controlled reaction of phosphoric acid with ammonia, where the hot slurry is then cooled, granulated and sieved. DAP handles and stores well. The standard nutrient grade of DAP is relatively high, at 18-46-0, so fertilizer products with lower nutrient content may not be labeled DAP.</p>

        <p class="text-justify" style="font-size:16px;">The inputs required to produce one ton of DAP fertilizer are approximately 1.5 to 2 tons of phosphate rock, 0.4 tons of sulfur (S) to dissolve the rock, and 0.2 tons of ammonia. Changes in the supply or price of any of these inputs will impact DAP prices and availability. The high nutrient content of DAP helps reduce handling, freight and application costs. DAP is produced in many locations in the world and is a widely traded fertilizer commodity.</p>*@
    </div>
</div>

<script>


</script>

