@model UserPermission
<style>
    footer,
    #footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 40px;
    }
</style>

<div class="container my-5">
    <div class="col-md-6 col-12 offset-md-3">
        <div class="card py-5">
            <div class="d-flex flex-column align-items-center">
                @if (@Model != null)
                {
                    <h4 class="label">@Model.UserName</h4>

                    if (Model.HR_Emp_Info != null)
                    {
                        <h4 class="label">Employee: <span>@Model.HR_Emp_Info.EmpName - @Model.HR_Emp_Info.EmpCode</span> </h4>
                    }
                    else
                    {
                        <h5 class="label text-warning">No link With Employee Data</h5>
                    }

                    <h5>User permission at-</h5>
                    <ul class="text-success">
                        @if (Model.IsAll)
                        {
                            <li>Admin</li>

                        }
                        @if (Model.IsStoreAndAccounts)
                        {
                            <li>Store & Accounts</li>
                        }
                        @if (Model.IsGeneralAccouonts)
                        {
                            <li>Accounts</li>
                        }
                        @if (Model.IsHRAndPayroll)
                        {
                            <li>HR & Payroll</li>
                        }
                        @if (Model.IsStore)
                        {
                            <li>Store</li>
                        }
                        @if (Model.IsMedical)
                        {
                            <li>Medical</li>
                        }
                        @if (Model.IsProduction)
                        {
                            <li>Production</li>
                        }


                    </ul>
                }

            </div>
            <div class="col-md-4 col-xs-12 d-block mx-auto mt-5">
                @Html.ActionLink("Password Reset", "ResetPassword", "Home", null, new { @class = "btn btn-danger btn-block rounded-0", @id = "btnPasswordReset" })

            </div>
        </div>
    </div>
</div>
