
@{

}


<div class="mx-auto col-md-6 col-12">
    <div class="card text-center">
        <div class="card-header">
            <h5>Select Your Product</h5>
        </div>
        <div class="card-body">
            @if (ViewBag.products != null)
            {
                @foreach (var item in ViewBag.products)
                {
                    <div class="row">
                        <div class="col-md-10 offset-md-1 col-12">
                            <div class="text-center">
                                <div class="text-white mb-2">
                                    <a asp-controller="Home" asp-action="SetAppKey" asp-route-AppKey="@item.AppKey" class="btn btn-outline-success btn-block" style="color:black">@item.Name - @item.VersionName</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card-header">
                    <h5>No Product Available</h5>
                </div>
            }
        </div>
    </div>
</div>
