@model GTERP.ViewModels.RawDataVM;

@{
    ViewData["Title"] = "EditPunchData";
}

<h1>Edit Punch Data</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPunchData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="aId" />
            <div class="form-group">
                <label asp-for="aId" class="control-label"></label>
                <input asp-for="aId" class="form-control" readonly /> <!-- Add the readonly attribute here -->
                <span asp-validation-for="aId" class="text-danger"></span>

                <label asp-for="EmpName" class="control-label">Employee Name</label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>

                <label asp-for="DtPunchDate" class="control-label">Punch Date</label>
                <input asp-for="DtPunchDate" class="form-control" readonly />
                <span asp-validation-for="DtPunchDate" class="text-danger"></span>


                <label asp-for="DtPunchTime" class="control-label">Punch Time</label>
                <input asp-for="DtPunchTime" class="form-control" />
                <span asp-validation-for="DtPunchTime" class="text-danger"></span>

                <label asp-for="DesigName" class="control-label">Designation</label>
                <input asp-for="DesigName" class="form-control" readonly/>
                <span asp-validation-for="DesigName" class="text-danger"></span>


                <label asp-for="SectName" class="control-label">Section</label>
                <input asp-for="SectName" class="form-control" readonly/>
                <span asp-validation-for="SectName" class="text-danger"></span>

                <label asp-for="Latitude" class="control-label">Latitude</label>
                <input asp-for="Latitude" class="form-control" readonly />
                <span asp-validation-for="Latitude" class="text-danger"></span>

                <label asp-for="PunchLocation" class="control-label">Punch Location</label>
                <input asp-for="PunchLocation" class="form-control" readonly />
                <span asp-validation-for="PunchLocation" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
