@model GTERP.Models.IssueMain

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>IssueMain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IssueMainId" />
            <div class="form-group">
                <label asp-for="IssueNo" class="control-label"></label>
                <input asp-for="IssueNo" class="form-control" />
                <span asp-validation-for="IssueNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueRef" class="control-label"></label>
                <input asp-for="IssueRef" class="form-control" />
                <span asp-validation-for="IssueRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrdUnitId" class="control-label"></label>
                <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                <span asp-validation-for="PrdUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreReqId" class="control-label"></label>
                <select asp-for="StoreReqId" class="form-control" asp-items="ViewBag.StoreReqId"></select>
                <span asp-validation-for="StoreReqId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label"></label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId"></select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <select asp-for="CurrencyId" class="form-control" asp-items="ViewBag.CurrencyId"></select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConvertionRate" class="control-label"></label>
                <input asp-for="ConvertionRate" class="form-control" />
                <span asp-validation-for="ConvertionRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalIssueValue" class="control-label"></label>
                <input asp-for="TotalIssueValue" class="form-control" />
                <span asp-validation-for="TotalIssueValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deduction" class="control-label"></label>
                <input asp-for="Deduction" class="form-control" />
                <span asp-validation-for="Deduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetIssueValue" class="control-label"></label>
                <input asp-for="NetIssueValue" class="form-control" />
                <span asp-validation-for="NetIssueValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubSectId" class="control-label"></label>
                <select asp-for="SubSectId" class="form-control" asp-items="ViewBag.SubSectId"></select>
                <span asp-validation-for="SubSectId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="GateInHouseDate" class="control-label"></label>
                <input asp-for="GateInHouseDate" class="form-control" />
                <span asp-validation-for="GateInHouseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedReciveDate" class="control-label"></label>
                <input asp-for="ExpectedReciveDate" class="form-control" />
                <span asp-validation-for="ExpectedReciveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermsAndCondition" class="control-label"></label>
                <input asp-for="TermsAndCondition" class="form-control" />
                <span asp-validation-for="TermsAndCondition" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComId" class="control-label"></label>
                <input asp-for="ComId" class="form-control" />
                <span asp-validation-for="ComId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcName" class="control-label"></label>
                <input asp-for="PcName" class="form-control" />
                <span asp-validation-for="PcName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateByUserId" class="control-label"></label>
                <input asp-for="UpdateByUserId" class="form-control" />
                <span asp-validation-for="UpdateByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GateInHouseDatestring" class="control-label"></label>
                <input asp-for="GateInHouseDatestring" class="form-control" />
                <span asp-validation-for="GateInHouseDatestring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedReciveDatestring" class="control-label"></label>
                <input asp-for="ExpectedReciveDatestring" class="form-control" />
                <span asp-validation-for="ExpectedReciveDatestring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

