@model GTERP.Models.Recruitment.HR_Recruitment_Department

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashlayout.cshtml";
}
<br />
<h1 class="display-6 mb-0">Create</h1>
<br />

<form asp-action="DepartmentCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid pt-4 px-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Create Department</h6>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                            <input asp-for="Dept_Name" type="text" class="form-control" placeholder="Name" aria-label="Name"
                                   aria-describedby="basic-addon1">
                            <span asp-validation-for="Dept_Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <br />
                <input type="submit" value="Create" class="btn btn-outline-primary m-2" />
            </div>

        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>
