@model GTERP.ViewModels.ListVM

@{

    Layout = "~/Views/Shared/_dashlayout.cshtml";
}

<form asp-action="EvaluationEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid pt-4 px-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Update Applicant Result</h6>
                <input type="hidden" asp-for="App_Id" value="@ViewBag.id" />
                <input type="hidden" asp-for="PostId" value="@ViewBag.P_Id" />
                <input type="hidden" asp-for="Status" value="@ViewBag.S_Status" />
                <input type="hidden" asp-for="S_Id" value="@ViewBag.S_ID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                            <input asp-for="App_Name" type="text" class="form-control"
                                   aria-describedby="basic-addon1" readonly>
                            <span asp-validation-for="App_Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Post Title</span>
                            <input asp-for="PostTitle" type="text" class="form-control"
                                   aria-describedby="basic-addon1" readonly>
                            <span asp-validation-for="PostTitle" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Exam Result</span>
                            <input asp-for="ExamResult" type="text" class="form-control"
                                   aria-describedby="basic-addon1" readonly>
                            <span asp-validation-for="ExamResult" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Viva Result</span>
                            <input asp-for="VivaResult" type="text" class="form-control"
                                   aria-describedby="basic-addon1">
                            <span asp-validation-for="VivaResult" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Comment</span>
                            <textarea asp-for="Comment" type="text" class="form-control"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <br />
                <input type="submit" value="Update" class="btn btn-outline-primary m-2" />
            </div>

        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>

