@model GTERP.Models.Recruitment.HR_Recruitment_Post
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

   ViewData["Title"] = "Edit";
}
<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />





























<form asp-controller="Posts" asp-action="Create" method="post" id="myForm" enctype="multipart/form-data">
    <input type="hidden" asp-for="ComId" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="PostId" />



    <div class="container-fluid card">



        <div class="col-md-9 col-12 container pt-3">
            <div class="row mb-2">
                <span class="text-center col-md-10 col-12" id="styletext">Post Entry Form</span>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Vacancy</span>
                        <input asp-for="Vacancy" type="number" class="form-control" placeholder="Vacancy" id="Vacancy" aria-label="Vacancy"
                               aria-describedby="basic-addon1">
                        <span asp-validation-for="Vacancy" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">LastDate</span>
                        <input asp-for="LastDate" type="date" class="form-control"
                               aria-describedby="basic-addon1">
                        <span asp-validation-for="LastDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Location</span>
                        <input asp-for="Location" type="text" class="form-control" placeholder="Location" id="Location" aria-label="Location"
                               aria-describedby="basic-addon1"
                               required>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">EmpStatus</span>
                        <input asp-for="EmployeeStatus" type="text" class="form-control" placeholder="EmployeeStatus" id="EmployeeStatus" aria-label="EmployeeStatus"
                               aria-describedby="basic-addon1">
                        <span asp-validation-for="EmployeeStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Salary</span>
                        <input asp-for="Salary" type="number" class="form-control" placeholder="Salary" id="Salary" aria-label="Salary"
                               aria-describedby="basic-addon1">
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select class="input-group-text form-select " asp-for="Designation" aria-label="Default select example">
                        <option selected>Designation</option>
                        <option value="Senior">Senior</option>
                        <option value="Mid">Mid</option>
                        <option value="Junior">Junior</option>
                        <option value="Intern">Intern</option>
                    </select>

                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Department</span>
                        <select asp-for="DeptId" class="form-control" asp-items="ViewBag.DepartmentName"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">PostTitle</span>
                        @Html.DropDownList("PostTitle", ViewData["PostTitle"] as List<SelectListItem> , new { @class = "form-control", @id = "PostTitle" })
                        <span asp-validation-for="PostTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Educational Require</span>
                        <textarea class="form-control" rows="2" name="E_Requirement" id="E_Requirement" aria-label="Educational Require"></textarea>
                        <span asp-validation-for="E_Requirement" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Job Context</span>
                        <textarea class="form-control" rows="4" name="JobContext" id="JobContext" aria-label="Job Context"></textarea>
                        <span asp-validation-for="JobContext" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Job Resp</span>
                        <textarea class="form-control" rows="4" name="JobResponsibility" id="JobResponsibility" aria-label="Job Resp"></textarea>
                        <span asp-validation-for="JobResponsibility" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Additional Requ</span>
                        <textarea class="form-control" rows="4" name="A_Requirement" id="A_Requirement" aria-label="Additional Requ"></textarea>
                        <span asp-validation-for="A_Requirement" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Other Benifits</span>
                        <textarea class="form-control" rows="4" name="OtherBenifits" id="OtherBenifits" aria-label="Other Benifits"></textarea>
                        <span asp-validation-for="OtherBenifits" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />

        </div>



        <div class="row text-center my-2">
            <div class="col-md-3"></div>
            <div class="col-md-3 col-12">
                @if (ViewBag.Title == "Create")
                {


                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block rounded-0" />

                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                }
                else if (ViewBag.Title == "Edit")
                {
                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />

                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                }
                else if (ViewBag.Title == "Delete")
                {
                    @* @Html.ActionLink("Delete", "DeleteStudentInfoConfirmed", "HR", new { id = Model.EmpId }, new { @class = "btn btn-info btn-block rounded-0"})*@
                    <button class="btn btn-danger btn-md btn-block rounded-0" type="button" onclick="Student_delete()">Delete</button>
                }

            </div>
            <div class="col-md-3 col-12">
                @Html.ActionLink("Back", "PostIndex", "Posts", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

            </div>
            <div class="col-md-3">
            </div>
        </div>















    </div>




</form>







































@section Scripts{
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PostTitle').change(function () {

                $.post("/Posts/GetTemplete", { pId: $(this).val() }, function (data) {
                    //dataType: "json",
                    console.log(data);

                    //let object = JSON.parse(data);
                    //console.log(typeof(data[0]?.JobRes));
                    //data = JSON.parse(data);

                    document.querySelector("#JobContext").value = data.JobContext;
                    document.querySelector("#JobResponsibility").value = data.JobResponsibility;
                    document.querySelector("#E_Requirement").value = data.E_Requirement;
                    document.querySelector("#A_Requirement").value = data.A_Requirement;
                    document.querySelector("#OtherBenifits").value = data.OtherBenifits;

                });
            });


            $('.dropdown-menu a').click(function () {
                console.log($(this).attr('data-value'));
                $(this).closest('.dropdown').find('input.code')
                    .val('(' + $(this).attr('data-value') + ')');
            });

        });

        function check(elem) {
            if (elem.selectedIndex == 5) {
                document.getElementById("other-div").style.display = 'block';
            } else {
                document.getElementById("other-div").style.display = 'none';
            }
        }





    </script>
}

