@model GTERP.Models.Recruitment.HR_Recruitment_Requisition

@{
    ViewData["Title"] = "Index";
  
}

<br />
<h1 class="display-6 mb-0">Create</h1>
<br />

<form asp-action="RequisitionCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid pt-4 px-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Create Requisition</h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Depertment</span>
                            <select asp-for="DeptId" class="form-control" asp-items="ViewBag.DeptId"></select>
                            <span asp-validation-for="DeptId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Vacancy</span>
                            <input asp-for="Vacancy" type="number" class="form-control" placeholder="Vacancy" aria-label="Vacancy"
                                   aria-describedby="basic-addon1">
                            <span asp-validation-for="Vacancy" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Location</span>
                            <input asp-for="Location" type="text" class="form-control"
                                   aria-describedby="basic-addon1">
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Title</span>
                            <input asp-for="Requ_Title" type="text" class="form-control" placeholder="Requisition Title" aria-label="Requisition Title"
                                   aria-describedby="basic-addon1"
                                   required>
                            <span asp-validation-for="Requ_Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Designation</span>
                            <input asp-for="Designation" type="text" class="form-control" placeholder="Designation" aria-label="Designation"
                                   aria-describedby="basic-addon1">
                            <span asp-validation-for="Designation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-text">Details</span>
                            <textarea asp-for="Details" class="form-control" rows="4" aria-label="Details"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <input type="submit" value="Create" class="btn btn-outline-primary m-2" />
            </div>

        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>
