@{
    var CompanyName = ViewBag.CompanyName;
    var Companylogo = ViewBag.Companylogo;
    //var fullName = ViewBag.fullName;
}

<div class="row">
    <div class="col-md-2 text-success "><button id="pdf_download"> Download</button></div>
    <div id="htmlContent" class="col-md-8">
        <div style="width:713px; height:613px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width:650px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
                <span style="font-size:50px; font-weight:bold">Please Scan The QR</span>
                <br><br>
                <span style="font-size:25px"><i>Wellcome From </i></span><br/>
               @if(Companylogo!=null)
                { <div class="form-group">
                    <img src="data:image/png;base64,@Companylogo" alt="Red dot" width="100" class="img-thumbnail" />
                </div>
                }
                <span style="font-size:25px"><strong> @CompanyName</strong></span>
                <br><br>

                <div class="form-group">
                    <img src="data:image/png;base64,@ViewBag.barcode" alt="Red dot" width="200" class="img-thumbnail" />
                </div>
                <div style="height:50px" ></div>
                <div class="form-group ">
                    <p>
                        Copyright © 2022. All Rights Reserved. By
                        <img src="../Content/img/gtrLogo.jpg" alt="Red dot" width="150" class="img-thumbnail" />
                    </p>
                </div>
            </div>
        </div>
    </div>

 
</div>
<div id="elementH" class="col-md-2"></div>
@section Scripts

    {

    <script>
        //$(document).ready(function() {
        //    var doc = new jsPDF();
        //    var elementHTML = $('#contnet').html();
        //    var specialElementHandlers = {
        //        '#elementH': function(element, renderer) {
        //            return true;
        //        }
        //    };
        //    doc.fromHTML(elementHTML, 15, 15, {
        //        'width': 170,
        //        'elementHandlers': specialElementHandlers
        //    });

        //    // Save the PDF
        //    doc.save('sample-document.pdf');
        //});

        var specialElementHandlers = {
            '#elementH': function(element, renderer) {
                return true;
            }
        };

        $('#pdf_download').click(function() {

            var doc = new jsPDF();
            var elementHTML = $('#htmlContent').html();

            html2pdf().from(elementHTML).save();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.60/jspdf.min.js"></script>
    <script src="~/html2pdf.js/html2pdf.bundle.js"></script>


 }