@model GTERP.Models.Payroll.SalaryProcess

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SalaryProcess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="dtPayment" class="control-label"></label>
                <input asp-for="dtPayment" class="form-control" />
                <span asp-validation-for="dtPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtFirst" class="control-label"></label>
                <input asp-for="dtFirst" class="form-control" />
                <span asp-validation-for="dtFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtLast" class="control-label"></label>
                <input asp-for="dtLast" class="form-control" />
                <span asp-validation-for="dtLast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtFest" class="control-label"></label>
                <input asp-for="dtFest" class="form-control" />
                <span asp-validation-for="dtFest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtFestEffect" class="control-label"></label>
                <input asp-for="dtFestEffect" class="form-control" />
                <span asp-validation-for="dtFestEffect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtSalAdv" class="control-label"></label>
                <input asp-for="dtSalAdv" class="form-control" />
                <span asp-validation-for="dtSalAdv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtELPrcFirst" class="control-label"></label>
                <input asp-for="dtELPrcFirst" class="form-control" />
                <span asp-validation-for="dtELPrcFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtELPrcLast" class="control-label"></label>
                <input asp-for="dtELPrcLast" class="form-control" />
                <span asp-validation-for="dtELPrcLast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalType" class="control-label"></label>
                <input asp-for="SalType" class="form-control" />
                <span asp-validation-for="SalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FestType" class="control-label"></label>
                <input asp-for="FestType" class="form-control" />
                <span asp-validation-for="FestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvType" class="control-label"></label>
                <input asp-for="AdvType" class="form-control" />
                <span asp-validation-for="AdvType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvFestType" class="control-label"></label>
                <input asp-for="AdvFestType" class="form-control" />
                <span asp-validation-for="AdvFestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salDesc" class="control-label"></label>
                <input asp-for="salDesc" class="form-control" />
                <span asp-validation-for="salDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bonusPer" class="control-label"></label>
                <input asp-for="bonusPer" class="form-control" />
                <span asp-validation-for="bonusPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bonusAdvPer" class="control-label"></label>
                <input asp-for="bonusAdvPer" class="form-control" />
                <span asp-validation-for="bonusAdvPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpType" class="control-label"></label>
                <input asp-for="EmpType" class="form-control" />
                <span asp-validation-for="EmpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

