@page
@using GTRChitra.Areas.Identity.Pages.Account;
@model CheckEmailResetModel
@{
    ViewData["Title"] = "Check email";
}


<div class="container-fluid text-center">

    <br />
    <br />
    <br />
    <br />
    <br />



    <h2>@ViewData["Title"]</h2>


    <p>
        Please check your inbox to Reset your Password.
    </p>

    @*<p>
            Please check your inbox to Reset your Password.
        </p>*@

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
