        <!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
       
        
        <div class="navbar-nav w-100">
            <a class="nav-item nav-link active" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-file-earmark-post"></i>Job Post</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Create" asp-controller="Posts" class="dropdown-item">Create Post</a>
                    <a asp-action="Index" asp-controller="Posts" class="dropdown-item">List</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-envelope-open-fill"></i>Requisition</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Create" asp-controller="Requisitions" class="dropdown-item">Create Requisition</a>
                    <a asp-action="Index" asp-controller="Requisitions" class="dropdown-item">List</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-badge-tm-fill"></i>Templete</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Create" asp-controller="Templetes" class="dropdown-item">Create Templete</a>
                    <a asp-action="Index" asp-controller="Templetes" class="dropdown-item">List</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-collection-fill"></i>Department</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Create" asp-controller="Departments" class="dropdown-item">Create Department</a>
                    <a asp-action="Index" asp-controller="Departments" class="dropdown-item">List</a>
                </div>
            </div>
            <a asp-action="CVSort" asp-controller="Job" class="nav-item nav-link"><i class="bi bi-file-person"></i>Submitted CV</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-collection-fill"></i>Evaluation</a>
                <div class="dropdown-menu bg-transparent border-0">

                    <a asp-action="Index" asp-controller="Evaluation" class="dropdown-item">List</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-collection-fill"></i>Quiz</a>
                <div class="dropdown-menu bg-transparent border-0">

                    <a asp-action="Quiz" asp-controller="Quizs" class="dropdown-item">Create Quiz</a>
                    <a asp-action="Quizlist" asp-controller="Quizs" class="dropdown-item">QuizLIst</a>
                </div>
            </div>
            <a asp-action="Index" asp-controller="Job" class="nav-item nav-link"><i class="bi bi-briefcase-fill"></i>Carrer</a>




        </div>
    </nav>
</div>
<!-- Sidebar End -->