@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }

<br />

<div class="container my-5">

    <h2 class="text-danger">Error Found.</h2>
    <button class="btn btn-primary btn-lg text-white mt-0" type="button" onclick="closeWindowIfHistoryIsEmpty();">Take Me Back</button>

    @*    <h2 class="text-danger">An error occurred while processing your request.</h2>*@

    @if (Model.ShowRequestId)
    {
<div>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
    @*<br>
    <strong>Location :</strong> <code>@ViewData["ErrorLocation"]</code>*@
    <br>
    <strong>Error :</strong> <code>@ViewData["ErrorMessage"]</code>
    <br>
    <strong>Exception :</strong> <code class="text-black">@ViewData["ErrorInnerException"]</code>
</div>}
    <br />

    <h1 class="text-primary"><img src="https://img.icons8.com/cute-clipart/100/000000/bug.png" /> 404</h1>
    <h1 class="text-primary">Page not found</h1>
    <h5>We are sorry, </h5>
    <h5>The page you requested could not be processed.</h5>
    @*<h4>Please take a screen shoot and Email us at info@ccccccccccccc.com</h4>
    <br />
    <h4 class="text-danger">Phone : +880 </h4>*@

    <a class="btn btn-primary btn-lg text-white mt-4" href="{% url 'home' %}">Take Me Home</a>
</div>

<button class="btn-success" type="button" onclick="history.back();">Back</button>

@*<h3>Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
    </p>*@

@section Scripts {
    <script type="text/javascript">

        function closeWindowIfHistoryIsEmpty() {
            //alert(window.history.length);
            if (window.history.length === 1) {
                //alert('2nd found');

                window.close();
            } else {
                window.history.back();
            }
        }


    </script>

}