@{
    ViewBag.Title = "DASHBOARD";
}
<div class="card mb-4 mt-3">
    <div class="box-header card card-header-style  pal-kyoo-gradient mb-3 mx-3" style="display:flex;flex-direction:row;">
        <div class="row">
            <div class="px-3">
                <h3 class="box-title">Department Wise Employee</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="row" style="width:100%;" >

            <div class="col-md-12" style="width:100%;">
                <div class="my-1 mx-4">
                    <canvas height="100" class="card" id="dept_WiseEmp" style="background-color: rgb(192, 221, 238); border-radius: 5px" ></canvas>
                </div>
                <div class="text-center font-weight-bold text-secondary">
                    Man Power &amp; History
                </div>
            </div>

        </div>


    </div>
</div>