

@using GTERP.Controllers.HR.HrReport;


@{
    List<HR_Emp_Info> Employee = new List<HR_Emp_Info>();
    Employee = ViewBag.Employee;
}

    <div class="mb-0">
        <input type="text" class="Employeeearch form-control" placeholder="Search . . ." />
    </div>

    <table id="commonTable" class="commonTable table table-hover mb-0 text-center" width="100%">
        <thead class="text-center">
            <tr>
                <th class="d-none">Employee Id</th>
                <th width="35%">Code</th>
                <th>Name</th>
            </tr>
        </thead>
    </table>

<div class="mCustomScrollbar" data-mcs-theme="minimal-dark" style="height: 228px">
    <table id="employeeTable" class="employeeTable table table-hover table-striped trow text-center" width="100%">

        <thead>
            <tr class="d-none">
                <th class="d-none">Employee Id</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            <tr id="myrow">
                <td class="d-none">
                    0
                </td>

                <td style="width: 35%;">
                    &nbsp;
                </td>

                <td style="">
                    =ALL=
                </td>
            </tr>

            @if (Employee.Count > 0)
            {
                foreach (HR_Emp_Info Employees in Employee)
                {
                    <tr id="myrow">

                        <td class="d-none">
                            @Employees.EmpId
                        </td>

                        <td>
                            @Employees.EmpCode
                        </td>

                        <td>
                            @Employees.EmpName
                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {


            $(".Employeeearch").keyup(function () {

                var searchText = $(this).val();

                searchText = searchText.toLowerCase();


                $('#employeeTable tbody tr').each(function () {

                    var employeeCode = $.trim($(this).children("td:eq(1)").html());
                    var employeeName = $.trim($(this).children("td:eq(2)").html());


                    if (employeeCode.toLowerCase().indexOf(searchText) === -1 &&
                        employeeName.toLowerCase().indexOf(searchText) === -1) {
                        $(this).css("display", "none");
                    } else {
                        $(this).css("display", "");
                    }
                });
            });



        });

    </script>

}
