@*@model GTERP.Models.CustomerList*@
@model IEnumerable<GTERP.Controllers.HouseKeeping.CustomersController.CustomerList>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@model GTERP.Models.Acc_VoucherMain*@

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>
    <script type="text/javascript">
        function ClosePrint() {
            var print = document.getElementById("print");
            print.style.visibility = "hidden";
            //            print.display = false;

            window.print();
        }
    </script>

    <style media="print">
        .showHeader thead {
            display: table-header-group;
            border: 1px solid #000;
        }
    </style>

    <style type="text/css">
        .bg-offwhite {
            background-color: #D3D3D3;
        }

        .table-bordered td, .table-bordered th, .table-bordered {
            border: 1px solid black;
            color: black;
        }

        .table thead th {
            border-bottom: inherit;
        }

        .table th {
            background: inherit;
        }

        .bg-asswhite {
            background-color: #F5F5F5 !important;
        }
        /*#main {
            width: 620px;*/
        /* to centre page on screen*/
        /*margin-left: auto;
            margin-right: auto;
        }

        @@font-face {
            font-family: "Dodgv2";
            src: url("../../../MenuCssJs/fonts/Dodgv2.ttf")format("truetype");
            font-weight: normal;
            font-style: normal;
        }*/

        /*        #btnPrint {
            font-weight: 700;
            font-style: italic;
        }*/

        .style8 {
            text-align: left;
            font-family: Calibri;
            font-size: 16px;
            width: 849px;
        }

        .style9 {
            font-size: 14px;
            text-align: left;
            width: 60%;
        }

        .style13 {
            width: 2px;
            font-weight: 700;
        }

        .style16 {
            width: 815px;
            font-weight: bold;
            font-family: Calibri;
            font-size: 16px;
        }

        .style18 {
            width: 151px;
            font-weight: bold;
        }

        .style19 {
            font-size: 10px;
            width: 148px;
        }

        .style1 {
            font-family: Calibri;
            font-size: 20px;
            width: 849px;
        }

        .style22 {
            font-family: Calibri;
            font-size: 16px;
        }

        .style23 {
            width: 182px;
        }

        .style24 {
            width: 189px;
        }

        .style25 {
            width: 6px;
        }

        .style26 {
            width: 4px;
        }

        .style27 {
            width: 425px;
        }

        .style28 {
            font-family: Calibri;
            font-size: 10px;
            width: 425px;
        }
    </style>
</head>
<body>
    <form method="post" action="http://www.unibuildltd.com/Accounts/Report/Report/ReportLedgerBook" id="form1">

        <div id="main">
            <div class="container">
                <div class="row mb-2 border-bottom border-dark py-2">
                    <div class="col-md-12 col-10">
                        <h3 class="text-center">DAP FERTILIZER COMPANY LIMITED</h3>
                    </div>
                    @*<div class="col-md-2 col-2 text-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()">
                        </div>*@
                    <div class="col-md-12 col-12 text-center">
                        <span>
                            Rangadia,Chattogram-4000
                        </span>
                        <span class="float-right">
                            <input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />
                        </span>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <h6>
                            <span>Dealer List Report- Page Indexing</span>
                            <span class="float-right">Print Date :05-Dec-202</span>
                        </h6>

                    </div>


                </div>

                <table class="table table-bordered border-dark text-dark text-center">
                    <thead class="font-weight-bold">
                        <tr class="text-nowrap text-center">
                            <th class="font-weight-bold">Page No</th>
                            <th class="font-weight-bold text-right">Particulars</th>
                            <th class="font-weight-bold">SL No</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td rowspan="5"> ttt</td>
                                <td class="text-right">tt </td>
                                <td>5</td>
                            </tr>
                            <tr>

                                <td class="text-right">tt </td>
                                <td>5</td>
                            </tr>
                            <tr>

                                <td class="text-right">tt </td>
                                <td>5</td>
                            </tr>*@
                        @{
                            //var rowspan = 0;
                            //var firstrow = 0;

                            var pagenumberlistABC = Model.GroupBy(x => x.PageNumber).ToList();

                            @foreach (var pagenumberlist in pagenumberlistABC)
                            {
                                var xyz = Model.Where(x => x.FirstSortNumber == "1" && x.PageNumber == pagenumberlist.Key);

                                var secondRowOrHigher = false;
                                @:<tr>
                                    @:<td rowspan="@xyz.Count()" class="align-middle">@pagenumberlist.Key</td>
                                    foreach (var ticket in xyz)
                                    {


                                        if (secondRowOrHigher)
                                        {
                                        @:</tr><tr>
                                        }
                                        secondRowOrHigher = true;

                                        <td>@ticket.Description</td>
                                        <td>@ticket.SLNo</td>
                                    @:</tr>
                                }
                            }


                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-8 col-12">
                        <h6>Software Generated Report ||Developed By : Genuine Technology & Research Ltd (gtr)</h6>
                    </div>
                    <div class="col-md-4 col-12">
                        <p class="text-right"> Page No : 1 of 1</p>
                    </div>

                </div>

            </div>
        </div>
    </form>
</body>
</html>