@using GTERP.Models
@{
    List<HR_Emp_Info> Employee = new List<HR_Emp_Info>();
    Employee = ViewBag.Employee;
}
    <div class="table-responsive">
        <table id="employeeTable" class="employeeTable table tab trow table-striped" style="width: 100%;">


            <tbody>

                @if (Employee.Count > 0)
                {
                    foreach (HR_Emp_Info Employees in Employee)
                    {
                        <tr id="myrow">

                            <td class="d-none">
                                @Employees.EmpId
                            </td>

                            <td class="w-25">
                                @Employees.EmpCode
                            </td>

                            <td>
                                @Employees.EmpName
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>