@using GTERP.Models
@{
    List<Cat_Section> sections = new List<Cat_Section>();
    sections = ViewBag.Sections;
}
    <div class="table-responsive">
        <table id="sectTable" class="table tab trow table-striped" style="width: 100%;">

            <tbody>

                @if (sections.Count > 0)
                {
                    foreach (Cat_Section aSection in sections)
                    {
                        <tr id="myrow">

                            <td class="d-none">
                                @aSection.SectId
                            </td>

                            <td>
                                @aSection.SectName
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
