@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
@import url('https: //cdn.jsdelivr.net/npm/airbnbcereal@1.1.0/stylesheet.min.css');
@import url('https//db.onlinewebfonts.com/c/758d40d7ca52e3a9bff2655c7ab5703c?family=Cambria');


#Certificate {
    Width: 791.25px;
    Height: 611.56px;
    background: url("../FilesForCertificates/images/bg-crt.png");
    background-size: cover;
}

.lr-size {
    padding-left: 75.49px;
    padding-right: 79.11px;
}

.p-logo {
    padding-top: 36.12px;
    padding-bottom: 76.18px;
}

.blue-text {
    color: #0C72BA;
}

.light-blue-text {
    color: #0D73BB;
}

.light-gray-text {
    color: #555554;

}

.fonts-Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.fonts-MyriadPro {
    font-family: 'Myriad Pro', sans-serif;
}

.fonts-AirbnbCereal_W_Bd {
    font-family: 'AirbnbCereal_W_Bd';
}

.fonts-Cambria {
    font-family: "Cambria";
}

.fw-500 {
    font-weight: 500;
}

.text-qr {
    font-weight: 500;
    font-size: 7.83405px;
    line-height: 10px
}


.f-s {
    font-size: 8.13536px;
    line-height: 11px;
}

.f-small {
    font-style: normal;
    font-size: 8.63px;
    line-height: 11px;
}

.f-small-m {
    font-size: 9.64191px;
    line-height: 12px;
    padding-top: 38.31px;
    padding-bottom: 10.27px;
}

.f-small-m2 {
    font-size: 10.2445px;
    line-height: 12px;
    padding-top: 23.14px;
    color: #333333;
}

.f-small-m3 {
    font-weight: 700;
    font-size: 11.1272px;
    line-height: 14px;
    color: #333333;
}

.s-small-l {
    font-size: 12px;
    line-height: 14px;
}

.f-m {
    font-size: 19.9584px;
    line-height: 26px;
}

.f-m2 {
    font-size: 20.7904px;
    line-height: 25px;
    font-weight: 600;
    padding-top: 2.41px;
    padding-bottom: 45.46px;
}

.c-border {
    width: 114.26px;
    border-bottom: 1px solid #555554;
    height: 1px;
    position: absolute;
    padding-top: 2.06px;
}

.cp-text {
    padding: 74.34px 7.92px 55.98px 80px;

}

.cp-small {
    font-size: 17.2147px;
    line-height: 20px;
    color: #333333;
}

.cp-m {
    font-size: 20.7325px;
    line-height: 24px;
    color: #333333;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0px;
    left: 50px;
    width: 67.82px;
    height: 67.86px;

}

.image2 {
    position: absolute;
    top: 12px;
    left: 0px;
    transform: matrix(1, -0.07, 0.07, 1, 0, 0);
    transform: rotate(2deg);
    width: 124.93px;
    height: 42.19px;
}

.divider::after {
    content: '';
    padding: 2px;
    background-color: #0D73BB;
    margin: 5px;
}

.qr-img {
    /*width: 37px;
    height: 37px;*/
    width: 60px;
    height: 60px;
}

.pt-qr {
    padding-top: 250px;
}