@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div class="row">
<div class="col-lg-3">
    <a asp-action="ModuleRecordView">Back to List</a>
</div>
</div>
<hr />
<div class="row"></div>
<div class="col-lg-3"></div>
<div class="col-lg-6"><h4 style="color:crimson"> @ViewBag.msg</h4></div>
<div class="col-lg-3"></div>


