@model GTERP.Models.HR_AttFixed

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>HR_AttFixed</h4>
<hr />
<div class="row">
    <div class="col-md-4 col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComId" class="control-label"></label>
                <input asp-for="ComId" class="form-control" />
                <span asp-validation-for="ComId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DtPunchDate" class="control-label"></label>
                <input asp-for="DtPunchDate" class="form-control" />
                <span asp-validation-for="DtPunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShiftId" class="control-label"></label>
                <select asp-for="ShiftId" class="form-control" asp-items="ViewBag.ShiftId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeIn" class="control-label"></label>
                <input asp-for="TimeIn" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOut" class="control-label"></label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OTHour" class="control-label"></label>
                <input asp-for="OTHour" class="form-control" />
                <span asp-validation-for="OTHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsInactive" /> @Html.DisplayNameFor(model => model.IsInactive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TimeInPrev" class="control-label"></label>
                <input asp-for="TimeInPrev" class="form-control" />
                <span asp-validation-for="TimeInPrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOutPrev" class="control-label"></label>
                <input asp-for="TimeOutPrev" class="form-control" />
                <span asp-validation-for="TimeOutPrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusPrev" class="control-label"></label>
                <input asp-for="StatusPrev" class="form-control" />
                <span asp-validation-for="StatusPrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OTHourPrev" class="control-label"></label>
                <input asp-for="OTHourPrev" class="form-control" />
                <span asp-validation-for="OTHourPrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcName" class="control-label"></label>
                <input asp-for="PcName" class="form-control" />
                <span asp-validation-for="PcName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtTran" class="control-label"></label>
                <input asp-for="DtTran" class="form-control" />
                <span asp-validation-for="DtTran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

