<!--<form method="post" asp-action="Index" asp-controller="InsertEmpInfoByExcel" enctype="multipart/form-data">

    <div class="w-75 mx-auto">
        <div class="input-group mb-3">

            <input type="file" name="postedFile" class="form-control" id="uploadTextbox">
            <button type="submit" value="Import" class="btn btn-success input-group-text rounded-0"
                    title="Excel Data Upload & Import" id="upload">
                Excel Data Upload &amp; Import
            </button>-->
@*<button asp-action="DataInsert" value="Employee Import" class="btn btn-success input-group-text rounded-0" title="Emp Import" id="excelimport">Emp Data Input</button>*@
<!--<div>
                <a href="InsertEmpInfoByExcel/Download?file=SampleFormatForInsertData.xlsx" title="Download Sample Format"
                   class="btn btn-success rounded-0" target="_blank"><i class="mdi mdi-file-excel"></i> Sample Format</a>
            </div>

        </div>
    </div>
</form>-->

<form id="myform" method="post" enctype="multipart/form-data" asp-action="Index" asp-controller="InsertEmpInfoByExcel">

    <div class="card">
        <div style="margin-bottom: 20px">
            <div class="form-header btn-light d-flex">
                <i class="fa fa-file-excel-o" style="font-size:30px;"></i>&nbsp;&nbsp;
                <h4>Employee Data Import</h4>
            </div>
        </div>

        <h4 id="styletext" style="text-align:center">Employee Information Import From Excel File</h4>

        <div class="card-body">
            <div class="input-group input-group w-50" style="margin:10px auto;">
                <span class="input-group-btn input-group-prepend">
                    <span class="btn btn-success rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" name="file">
                </span>
                <span class="form-control border border-success" style="background: #f2f2f2e6;"></span>
                <input class="rounded-0 btn btn-success btn-sm mr-1" type="submit" id="btnUpload" value="Upload & Import Files" />
                <a href="~/InsertEmpInfoByExcel/Download?file=SampleFormatForInsertData.xlsx" title="Download Sample Format"
                   class="btn btn-success rounded-0" target="_blank"><i class="mdi mdi-file-excel"></i> Sample Format</a>
            </div>
        </div>
       
    </div>

</form>


<form id="myform" method="post" enctype="multipart/form-data" asp-action="Update" asp-controller="InsertEmpInfoByExcel">

    <div class="card">
        <div style="margin-bottom: 20px">
            <div class="form-header btn-light d-flex">
                <i class="fa fa-file-excel-o" style="font-size:30px;"></i>&nbsp;&nbsp;
                <h4>Employee Data Update</h4>
            </div>
        </div>

        <h4 id="styletext" style="text-align:center">Employee Information Update From Excel File</h4>

        <div class="card-body">
            <div class="input-group input-group w-50" style="margin:10px auto;">
                <span class="input-group-btn input-group-prepend">
                    <span class="btn btn-success rounded-0" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" name="file">
                </span>
                <span class="form-control border border-success" style="background: #f2f2f2e6;"></span>
                <input class="rounded-0 btn btn-success btn-sm mr-1" type="submit" id="btnUpload" value="Upload & Update Files" />
                <a href="~/InsertEmpInfoByExcel/Download?file=SampleFormatForUpdateData.xlsx" title="Download Sample Format"
                   class="btn btn-success rounded-0" target="_blank"><i class="mdi mdi-file-excel"></i> Sample Format</a>
            </div>
        </div>
       
    </div>

</form>




