@model GTERP.Models.StoreRequisitionMain

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>StoreRequisitionMain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StoreRequisitionEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoreReqId" />
            <div class="form-group">
                <label asp-for="PrdUnitId" class="control-label"></label>
                <select asp-for="PrdUnitId" class="form-control" asp-items="ViewBag.PrdUnitId"></select>
                <span asp-validation-for="PrdUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SRNo" class="control-label"></label>
                <input asp-for="SRNo" class="form-control" />
                <span asp-validation-for="SRNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqRef" class="control-label"></label>
                <input asp-for="ReqRef" class="form-control" />
                <span asp-validation-for="ReqRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqDate" class="control-label"></label>
                <input asp-for="ReqDate" class="form-control" />
                <span asp-validation-for="ReqDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardMeetingDate" class="control-label"></label>
                <input asp-for="BoardMeetingDate" class="form-control" />
                <span asp-validation-for="BoardMeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposeId" class="control-label"></label>
                <select asp-for="PurposeId" class="form-control" asp-items="ViewBag.PurposeId"></select>
                <span asp-validation-for="PurposeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedByEmpId" class="control-label"></label>
                <select asp-for="ApprovedByEmpId" class="form-control" asp-items="ViewBag.ApprovedByEmpId"></select>
                <span asp-validation-for="ApprovedByEmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommenedByEmpId" class="control-label"></label>
                <select asp-for="RecommenedByEmpId" class="form-control" asp-items="ViewBag.RecommenedByEmpId"></select>
                <span asp-validation-for="RecommenedByEmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComId" class="control-label"></label>
                <input asp-for="ComId" class="form-control" />
                <span asp-validation-for="ComId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcName" class="control-label"></label>
                <input asp-for="PcName" class="form-control" />
                <span asp-validation-for="PcName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateByUserId" class="control-label"></label>
                <input asp-for="UpdateByUserId" class="form-control" />
                <span asp-validation-for="UpdateByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StoreRequisitionList">Back to List</a>
</div>

